@media (min-width: 2000px) {
  .project {
    justify-content: space-evenly;
  }
  .project .text {
    flex: 0.5;
  }
}
@media screen and (max-width: 1023px) {
  #projects {
    margin-bottom: 25%;
  }
}
@media screen and (max-width: 1001px) {
  .projectBox {
    padding: 0;
  }
  .project {
    margin: 15px 0;
    padding-bottom: 15px;
    flex-direction: column;
  }
  .project:nth-of-type(even) {
    flex-direction: column;
  }
  .project .img {
    height: 275px;
    width: 100%;
    margin-bottom: 11%;
  }
  .project .img img {
    max-width: 100%;
  }
  .project .text {
    width: 100%;
    padding: 2em 0;
  }
  .project .text p {
    padding: 0;
  }
}
@media screen and (max-width: 1200px) {
  #contact {
    padding-left: 0;
    padding-right: 0;
  }
  .content {
    flex-direction: column;
    justify-content: center;
  }
  .content p {
    padding-left: 2%;
    padding-right: 2%;
  }
  .contactBox {
    width: 100%;
    margin-top: 30px;
  }
  .opt {
    padding-left: 2%;
    padding-right: 4%;
  }
}
@media screen and (min-width: 1919px) {
  .project .img {
    max-height: 650px;
    flex: 1.5;
  }
  .project .text {
    flex: 1;
  }
}
@media screen and (max-width: 1150px) {
  .project .text {
    padding: 0 3em;
  }
}
@media screen and (max-width: 900px) {
  #home header h1 {
    letter-spacing: 3px;
  }
  .fed {
    letter-spacing: 1px;
  }
  .navList li a {
    display: inline-block;
    text-align: center;
    padding-left: 25px;
    width: 100%;
  }
  .navList li:nth-of-type(2) a {
    width: 100%;
    padding-left: 25px;
  }
  .navList li:nth-of-type(3) a {
    width: 100%;
    padding-left: 25px;
  }
  .navList li:nth-of-type(4) a {
    width: 100%;
    padding-left: 25px;
  }
  .project .img {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 700px) {
  #home {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 10%;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column-reverse;
  }

  .social {
    margin: 0 auto;
    padding-bottom: 20px;
    left: 0;
    height: auto;
    width: 200px;
    transform: none;
    flex-direction: row;
    position: relative;
  }

  .loc {
    right: 65%;
  }
  .locLine {
    width: 2px;
  }
  .loc span {
    padding-top: 3px;
    padding-left: 2px;
    padding-right: 2px;
  }

  .loc .one {
    text-align: left;
  }
  .skillsGrid {
    gap: 8px 0;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 426px) {
  nav {
    position: absolute;
  }
  .social a .socialTip {
    left: -18px;
  }
  #about,
  #projects,
  #contact {
    margin-top: 25%;
  }
  .textBox {
    margin-bottom: 30%;
  }
  .skillsGrid {
    width: 100%;
  }

  .project .text {
    padding: 0 5px;
  }
  #contact {
    padding-top: 25%;
    padding-bottom: 30%;
  }

  .contactBox {
    width: 100%;
  }

  .foot img {
    height: 65px;
  }

  .toTop {
    position: fixed;
    bottom: 1em;
    display: block;
    padding: 8px 10px 4px;
    font-size: 28px;
  }
}

@media only screen and (max-width: 800px) and (orientation: landscape) {
  #home header h1 {
    font-size: 5.25em;
  }
  .fed {
    font-size: 1.25em;
  }
}

@media (min-width: 319px) and (max-width: 426px) {
  .project .text {
    margin: -20px 0 0;
  }
}
